*.class filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
/jdk/NOTICE filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.jsa filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.access filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
*.policy filter=lfs diff=lfs merge=lfs -text
*.security filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.jmod filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.base/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.base/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.base/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.compiler/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.compiler/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.compiler/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.datatransfer/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.datatransfer/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.desktop/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.desktop/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.desktop/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.instrument/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.instrument/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.instrument/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.logging/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.logging/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.logging/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.management.rmi/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.management.rmi/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.management.rmi/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.management/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.management/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.management/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.naming/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.naming/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.naming/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.net.http/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.net.http/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.net.http/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.prefs/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.prefs/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.prefs/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.rmi/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.rmi/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.rmi/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.scripting/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.scripting/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.scripting/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.se/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.se/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.se/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.security.jgss/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.security.jgss/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.security.jgss/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.security.sasl/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.security.sasl/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.security.sasl/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.smartcardio/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.smartcardio/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.smartcardio/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.sql.rowset/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.sql.rowset/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.sql.rowset/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.sql/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.sql/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.sql/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.transaction.xa/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.transaction.xa/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.transaction.xa/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.xml.crypto/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.xml.crypto/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.xml.crypto/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.xml/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.xml/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.xml/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.accessibility/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.accessibility/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.accessibility/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.attach/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.attach/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.attach/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.charsets/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.charsets/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.charsets/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.compiler/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.compiler/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.compiler/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.crypto.cryptoki/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.crypto.cryptoki/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.crypto.cryptoki/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.crypto.ec/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.crypto.ec/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.crypto.ec/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.crypto.mscapi/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.crypto.mscapi/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.crypto.mscapi/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.dynalink/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.dynalink/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.dynalink/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.editpad/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.editpad/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.editpad/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.hotspot.agent/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.hotspot.agent/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.hotspot.agent/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.httpserver/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.httpserver/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.httpserver/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.incubator.vector/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.incubator.vector/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.incubator.vector/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.ed/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.ed/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.ed/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.jvmstat/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.jvmstat/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.jvmstat/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.le/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.le/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.le/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.opt/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.opt/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.opt/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.vm.ci/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.vm.ci/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.vm.ci/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.vm.compiler.management/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.vm.compiler.management/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.vm.compiler.management/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.vm.compiler/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.vm.compiler/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.internal.vm.compiler/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jartool/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jartool/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jartool/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.javadoc/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.javadoc/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.javadoc/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jcmd/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jcmd/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jcmd/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jconsole/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jconsole/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jconsole/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jdeps/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jdeps/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jdeps/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jdi/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jdi/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jdi/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jdwp.agent/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jdwp.agent/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jdwp.agent/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jfr/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jfr/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jfr/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jlink/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jlink/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jlink/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jpackage/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jpackage/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jpackage/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jshell/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jshell/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jshell/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jsobject/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jsobject/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jsobject/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jstatd/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jstatd/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.jstatd/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.localedata/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.localedata/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.localedata/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.management.agent/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.management.agent/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.management.agent/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.management.jfr/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.management.jfr/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.management.jfr/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.management/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.management/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.management/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.naming.dns/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.naming.dns/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.naming.dns/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.naming.rmi/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.naming.rmi/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.naming.rmi/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.net/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.net/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.net/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.nio.mapmode/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.nio.mapmode/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.nio.mapmode/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.random/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.random/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.random/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.sctp/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.sctp/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.sctp/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.security.auth/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.security.auth/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.security.auth/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.security.jgss/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.security.jgss/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.security.jgss/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.unsupported.desktop/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.unsupported.desktop/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.unsupported.desktop/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.unsupported/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.unsupported/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.unsupported/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.xml.dom/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.xml.dom/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.xml.dom/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.zipfs/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.zipfs/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/jdk.zipfs/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/lib/classlist filter=lfs diff=lfs merge=lfs -text
*.sym filter=lfs diff=lfs merge=lfs -text
*.bfc filter=lfs diff=lfs merge=lfs -text
*.src filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.jfc filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
/jdk/lib/modules filter=lfs diff=lfs merge=lfs -text
*.ja filter=lfs diff=lfs merge=lfs -text
*.certs filter=lfs diff=lfs merge=lfs -text
/jdk/lib/security/cacerts filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/jdk/lib/tzmappings filter=lfs diff=lfs merge=lfs -text
/jdk/release filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
